<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
    <sources>
      <add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common" filePath="D:\airsat v2.0\Server\SICT\Services\enterprise_lib.config" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <connectionStrings>
    <add name="LocalDBConnection" connectionString="Data Source=80.80.229.30;Initial Catalog=International;user id=sa;password=Qky9HEQU;" />
    <!--<add name="LocalDBConnection" connectionString="Data Source=CTM250\SQLEXPRESS;Initial Catalog=SICTNew;user id=sa;password=welcome@123;" />-->
   </connectionStrings>
  <appSettings>
    <!--<add key="SessionExpiryTime" value="60"></add>   
    <add key="InterviwerListFilePath" value="D:/airsat v2.0/UI/Cache/InterviewerList" />
    <add key="AirportListFilePath" value="D:/airsat v2.0/UI/Cache/AirportList" />
    <add key="AirportAirlineListFilePath" value="D:/workpace/Projects/mindset/airsat/solution/airsat v2.0/UI/Cache/AirportAirlineList" />
    <add key="TargetsVsCompletesChartFilePath" value="D:/airsat v2.0/UI/Cache/Charts" />
    <add key="CacheFilePath" value="D:/airsat v2.0/UI/Cache/" />
    <add key="AirportReportCacheFilePath" value="D:/airsat v2.0/UI/Cache/AirportReport" />
    <add key="CustomDownloads" value="D:/airsat v2.0/UI/Cache/CustomDownloads" />
    <add key="CustomDownloadsUrl" value="http://localhost/SICTDownloads" />
    <add key="Upload" value="D:/airsat v2.0/UI/Cache/Uploads" />-->


    <add key="SessionExpiryTime" value="30"></add>
    <add key="InterviwerListFilePath" value="D:/SICT/Deployment/SICTUSI/Cache/InterviewerList" />
    <add key="AirportListFilePath" value="D:/SICT/Deployment/SICTUSI/Cache/AirportList" />
    <add key="AirportAirlineListFilePath" value="D:/SICT/Deployment/SICTUSI/Cache/AirportAirlineList" />
    <add key="TargetsVsCompletesChartFilePath" value="D:/SICT/Deployment/SICTUSI/Cache/Charts" />
    <add key="TargetsVsCompletesChartFilePath_EUR" value="D:/SICT/Deployment/SICTEurope/Cache/Charts" />
    <add key="TargetsVsCompletesChartFilePath_AIR" value="D:/SICT/Deployment/SICTAircraft/Cache/Charts" />
    <add key="CacheFilePath" value="D:/SICT/Deployment/SICTUSI/Cache/" />
    <add key="AirportReportCacheFilePath" value="D:/SICT/Deployment/SICTUSI/Cache/AirportReport" />
    <add key="CustomDownloads" value="D:/SICT/Deployment/SICTUSI/Cache/CustomDownloads" />
    <add key="CustomDownloadsUrl" value="http://80.80.229.30/International/Cache/CustomDownloads" />
    <add key="Upload" value="D:/SICT/Deployment/SICTUSI/Cache/Uploads" />
    <add key="UploadCnt" value="50000" />
    <add key="DownloadCnt" value="50000" />
    <add key="IsTargetZeroRequired" value="true" />
    <add key="CommandTimeout" value="600" />
    <add key="FormDateFormat" value="en-US" />
    <add key="adminMailid" value="matthew.selvaraj@cross-tab.com" />
    <add key="FromAddress" value="matthew.selvaraj@cross-tab.com" />
    <add key="RedirectAddress" value="matthew.selvaraj@cross-tab.com" />
    <add key="SmtpServer" value="10.255.11.19" />
    <add key="SmtpUser" value="david" />
    <add key="SmtpPassword" value="Welcome$123" />
    <add key="SmtpPort" value="25" />
    <add key="DomainName" value="celstream-in" />
    <add key="RegardsAddress" value="SICT Team" />
    <add key="AppName" value="SICT" />
    <add key="LogoImageURL" value="http://10.255.110.239/SICTServiceUSI/img/m1nd-set-logo.PNG" />
    <add key="ForgotPasswordFormatPath" value="E:\SICTS\SERVER CODE\SERVER\Services\Templates\forgotpassword.txt" />
    <add key="IsLicensingEnabled" value="false" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
  </system.web>
  <system.serviceModel>

    <bindings> 

      <webHttpBinding>
        <binding name="webP" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>

    <services>
      <service behaviorConfiguration="MetadataBehavior" name="SICT.Service.UserDetailsService">
        <endpoint address="" behaviorConfiguration="RestBehavior" binding="webHttpBinding" bindingConfiguration="webP" contract="SICT.Interface.IUserDetails" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9090/UserDetailsService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="MetadataBehavior" name="SICT.Service.DepartureFormServices">
        <endpoint address="" behaviorConfiguration="RestBehavior" binding="webHttpBinding" bindingConfiguration="webP" contract="SICT.Interface.IDepartureService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9091/DepartureFormServices" />
          </baseAddresses>
        </host>
      </service>


      <service behaviorConfiguration="MetadataBehavior" name="SICT.Service.ReportingServices">
        <endpoint address="" behaviorConfiguration="RestBehavior" binding="webHttpBinding" bindingConfiguration="webP" contract="SICT.Interface.IReportingServices" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9091/ReportingServices" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="MetadataBehavior" name="SICT.Service.ManagementServices">
        <endpoint address="" behaviorConfiguration="RestBehavior" binding="webHttpBinding" bindingConfiguration="webP" contract="SICT.Interface.IManagementServices" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9091/ManagementServices" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="MetadataBehavior" name="SICT.Service.DownloadServices">
        <endpoint address="" behaviorConfiguration="RestBehavior" binding="webHttpBinding" bindingConfiguration="webP" contract="SICT.Interface.IDownloadServices" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9091/DownloadServices" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="MetadataBehavior" name="SICT.Service.UploadServices">
        <endpoint address="" behaviorConfiguration="RestBehavior" binding="webHttpBinding" bindingConfiguration="webP" contract="SICT.Interface.IUploadServices" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9091/UploadServices" />
          </baseAddresses>
        </host>
      </service>

    </services>

      <behaviors>
      <endpointBehaviors>
        <behavior name="RestBehavior">
          <webHttp />
        </behavior>
        <!--<behavior name="Crosstab.ReportingOptimizer.ROServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>-->
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MetadataBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <!--system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      
      <remove name="WebDAVModule" />
    </modules>
  </system.webServer>-->
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true" />
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="3000000000" />
        </requestFiltering>
      </security>
        <directoryBrowse enabled="true" />
    </system.webServer>
    <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
</configuration>
