<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <connectionStrings>
    <!--<add name="PromiseCon" connectionString="Data Source=192.168.1.22;Initial Catalog=Crosstab;Persist Security Info=True;User ID=sa;Password=Welcome$123" providerName="System.Data.SqlClient" />-->
    <!--<add name="SICTCon" connectionString="Data Source=192.168.1.22\sqlexpress2014;Initial Catalog=SICTNew;user id=SICT;password=Crosstab@45;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="InternationalCon" connectionString="Data Source=localhost\CTM241;;Initial Catalog=ctf;user id=sa;password=pass@123;" providerName="System.Data.SqlClient"/>-->
    
    
    
     <!--<add name="InternationalCon" connectionString="Data Source=80.80.229.30;Initial Catalog=International;user id=sa;password=Qky9HEQU;" providerName="System.Data.SqlClient"/>
     <add name="EuropeCon" connectionString="Data Source=80.80.229.30;Initial Catalog=Europe;user id=sa;password=Qky9HEQU;" providerName="System.Data.SqlClient"/>-->
    
  
      <!--<add name="InternationalCon" connectionString="Data Source=80.80.229.30;Initial Catalog=International;user id=sa;password=Qky9HEQU;" providerName="System.Data.SqlClient"/>-->
     <add name="EuropeCon" connectionString="Data Source=CTM371;Initial Catalog=Europe;user id=sa;password=pass@123;" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <appSettings>
    <!-- SMTP Configuration - START-->
    
    <add key="FileSavePAth" value="E:\\Sagar Sawant_Data\\D\\Webtool\\Airs@t\\" />
    <add key="Filename" value="Output_For_Update_Final.txt" />
    <add key="FTPLink" value="ftp://192.168.0.7/AutoUpdateActivity/" />
    <add key="FTPUsername" value="mindset" />
    <add key="FTPPassword" value=":vJ\N~2,AD123" />
     <add key="YearDifference" value="3" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  
    <add key="mailTo" value="sagar.sawant@cross-tab.com"/>
    <add key="mailCC1" value="manish.suvarna@cross-tab.com"/>
    <add key="mailCC2" value="sagar.sawant@cross-tab.com"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>