<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
    <sources>
      <add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common" filePath="D:\SICT\Deployment\SICTUSI\enterprise_lib.config"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <connectionStrings>
    <add name="LocalDBConnection" connectionString="Data Source=SRV-MSETWEB01;Initial Catalog=International;user id=sa;password=Qky9HEQU;"/>
  </connectionStrings>
  <appSettings>
    <add key="SessionExpiryTime" value="30"/>
    <add key="InterviwerListFilePath" value="D:/SICT_Web/UI/Cache_USD/InterviewerList"/>
    <add key="AirportListFilePath" value="D:/SICT_Web/UI/Cache_USD/AirportList"/>
    <add key="AirportAirlineListFilePath" value="D:/SICT_Web/UI/Cache_USD/AirportAirlineList"/>
    <add key="TargetsVsCompletesChartFilePath" value="D:/SICT_Web/UI/Cache_USD/Charts"/>
    <add key="CacheFilePath" value="D:/SICT_Web/UI/Cache_USD/"/>
    <add key="AirportReportCacheFilePath" value="D:/SICT_Web/UI/Cache_USD/AirportReport"/>
    <add key="CustomDownloads" value="D:/SICT_Web/UI/Cache_USD/CustomDownloads"/>
    <add key="CustomDownloadsUrl" value="http://SICT/International/Cache/CustomDownloads"/>
    <add key="Upload" value="D:/SICT_Web/UI/Cache_USD/Uploads"/>
    <add key="UploadCnt" value="50000"/>
    <add key="DownloadCnt" value="50000"/>
    <add key="IsTargetZeroRequired" value="true"/>
    <add key="CommandTimeout" value="600"/>
    <add key="FormDateFormat" value="en-US"/>
    <add key="IsLicensingEnabled" value="true"/>
    <add key="SpecialUsers" value="VNlight"/>
    <add key="AirlineIdForSpecialUserAirport" value="31"/>
    <!-- SMTP Configuration - START-->
    <add key="adminMailid" value="david.boon@celstream.com"/>
    <add key="FromAddress" value="ctos@cross-tab.com"/>
    <add key="RedirectAddress" value="magid@cross-tab.com"/>
    <add key="SmtpServer" value="smtp.gmail.com"/>
    <add key="SmtpUser" value="ctos@cross-tab.com"/>
    <add key="SmtpPassword" value="CY33iA"/>
    <add key="SmtpPort" value="587"/>
    <add key="DomainName" value=""/>
    <add key="RegardsAddress" value="SICT Team"/>
    <add key="AppName" value="SICT"/>
    <add key="LogoImageURL" value="http://80.80.229.30/International/img/m1nd-set-logo.PNG"/>
    <add key="ForgotPasswordFormatPath" value="D:\SICT\Deployment\SICT\SERVICE\Templates\forgotpassword.txt"/>
    <!-- SMTP Configuration - END-->
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webP" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="MetadataBehavior" name="SICT.Service.UserDetailsService">
        <endpoint address="" behaviorConfiguration="RestBehavior" binding="webHttpBinding" bindingConfiguration="" contract="SICT.Interface.IUserDetails"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9090/UserDetailsService"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="MetadataBehavior" name="SICT.Service.DepartureFormServices">
        <endpoint address="" behaviorConfiguration="RestBehavior" binding="webHttpBinding" bindingConfiguration="" contract="SICT.Interface.IDepartureService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9091/DepartureFormServices"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="MetadataBehavior" name="SICT.Service.ReportingServices">
        <endpoint address="" behaviorConfiguration="RestBehavior" binding="webHttpBinding" bindingConfiguration="webP" contract="SICT.Interface.IReportingServices"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9091/ReportingServices"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="MetadataBehavior" name="SICT.Service.ManagementServices">
        <endpoint address="" behaviorConfiguration="RestBehavior" binding="webHttpBinding" bindingConfiguration="webP" contract="SICT.Interface.IManagementServices"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9091/ManagementServices"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="MetadataBehavior" name="SICT.Service.DownloadServices">
        <endpoint address="" behaviorConfiguration="RestBehavior" binding="webHttpBinding" bindingConfiguration="webP" contract="SICT.Interface.IDownloadServices"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9091/DownloadServices"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="MetadataBehavior" name="SICT.Service.UploadServices">
        <endpoint address="" behaviorConfiguration="RestBehavior" binding="webHttpBinding" bindingConfiguration="webP" contract="SICT.Interface.IUploadServices"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9091/UploadServices"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RestBehavior">
          <webHttp/>
        </behavior>
        <behavior name="Crosstab.ReportingOptimizer.ROServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MetadataBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule"/>
    </modules>
    <directoryBrowse enabled="false"/>
    <!-- <staticContent>
            <mimeMap fileExtension=".json" mimeType="text/javascript" />
            <mimeMap fileExtension=".jsonp" mimeType="text/javascript" />
        </staticContent> -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="PUT, POST, GET, DELETE"/>
        <add name="Cache-Control" value="no-cache"/>
        <add name="Pragma" value="no-cache"/>
        <add name="Expires" value="0"/>
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <mimeMap fileExtension=".jsonp" mimeType="text/javascript"/>
      <!--   <mimeMap fileExtension=".json" mimeType="text/javascript" />-->
      <clientCache cacheControlMode="DisableCache"/>
    </staticContent>
    <defaultDocument>
      <files>
        <add value="login.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>
  </system.net>
</configuration>