<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="customAppSettingsGroup">
      <section name="Logs" type="System.Configuration.AppSettingsSection" />
    </sectionGroup>
  </configSections>  
  <enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
    <sources>
      <add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common"
       filePath="E:\SICTS\SERVER CODE\SERVER\JanitorServices\enterprise_lib.config" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <connectionStrings>
    <add name="USIDBConnection" connectionString="Data Source=10.255.110.163;Initial Catalog=SICTFinal;user id=sa;password=Welcome$123;" />
    <add name="AIRDBConnection" connectionString="Data Source=10.255.110.163;Initial Catalog=SICTAircraft;user id=sa;password=Welcome$123;" />
    <add name="USDDBConnection" connectionString="Data Source=10.255.110.163;Initial Catalog=SICTEurope;user id=sa;password=Welcome$123;" />
    <add name="EURDBConnection" connectionString="Data Source=10.255.110.163;Initial Catalog=SICTUSD;user id=sa;password=Welcome$123;" />
  </connectionStrings>
  <appSettings>   
    <add key="Interval" value="1" />
    <add key="ZipFile" value="C:/Program Files/7-Zip/7z.exe" />  
    <add key="TargetsVsCompletesChartFilePath_USI" value="D:/SICT/USI/Cache/Charts" />
    <add key="TargetsVsCompletesChartFilePath_EUR" value="D:/SICT/EUR/Cache/Charts" />
    <add key="TargetsVsCompletesChartFilePath_USD" value="D:/SICT/USD/Cache/Charts" />
    <add key="TargetsVsCompletesChartFilePath_AIR" value="D:/SICT/AIR/Cache/Charts" />
    <add key="CacheFilePath" value="D:/SICT/SICT/Cache/" />
  </appSettings>

  <customAppSettingsGroup>
    <Logs>
      <add key="SICTEventsUSI" value="SICT*.log,E:\Logs,E:\CompressedLogs/,SICTLog-.7z" />     
    </Logs>
  </customAppSettingsGroup>
</configuration>
